<h3>Update Category Details</h3>
<%= form_with model: @category do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.submit %>
<% end %>
<hr>
<%= link_to 'Back', categories_path %>