<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category)%></li>
  <% end %>
</ul>
<hr>
<p>

<% if can? :create, Category %>
  <%= link_to "New category", new_category_path%>
<% end %>
</p>